
* { margin: 0; padding: 0; overflow: overlay; scroll-behavior: smooth;}
p { padding: 30px;}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px #22222254;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #000000b6;
  border: solid 3px transparent;
  border-radius: 10px;
} 
  



@font-face  {font-family: "basix"; src: url("fonts/basix.ttf"); }
table {font-family: basix; }

a:link         {color: #FFFFFF; text-decoration: none;}
a:visited      {color: #ffffff; text-decoration: none;}
a:hover        {color: #ffc400; text-decoration: none;}
a:active       {color: #ff8800; text-decoration: none;}  


#cabecalho {
  width: 100%; height: 120px;
  background-color:#222; position: fixed; z-index:999; overflow: hidden; /* posicao fixa - z index na frente - barras de rolagem escondidas */
  }

#esquerda {
   padding-left: 40px;
 }

#direita {
   padding-right: 40px;
 }

#pula {
  margin-top: 130px; /* pula espaco entre do cabecalho para o comeco do corpo */
}



#grupo1 { 
  overflow: auto hidden;
  display: inline-block;
  position: relative;
}
#grupo1 figcaption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 30%;
  font-size: 16px;
} /* div da ilustração QUEM SOU EU */






#grupo2 { 
  width: 100%; overflow: hidden;
  background-color:#222; 
  display: flex;
  flex-wrap: wrap; 
  padding-top: 50px;
  padding-bottom: 10px;
} /* div responsiva do campo PORTFOLIO */

.grupo3 {
  display: inline-block;
  width: 410; height: auto; 
  margin-top: 30 ; margin-left: auto; margin-right: auto;
  background-clip: content-box; /* define posicao da borda para fora da div */
  border: 10px solid transparent;
  text-align: right;
  color: #FFFFFF;
  overflow: hidden; /* esconde rolagem */
  /* background-color: #ff8800; */
 } /* grupo de imagens do PORTFOLIO */

.grupo3 img {
  margin: auto;
  display: block;
  padding-top: 10px;
  width: 390;
  }