* { 
  margin: 0; 
  padding: 0; 
  overflow: overlay; /* efeito na narra de rolagem */
  scroll-behavior: smooth; /* define rolagem altomatica suave */
  
}

p { font-size: 150%; }
figcaption { font-size: 200%; }

a:link         {color: #FFFFFF; text-decoration: none;}
a:visited      {color: #ffffff; text-decoration: none;}
a:hover        {color: #ffa600; text-decoration: none;}
a:active       {color: #fff1d7; text-decoration: none;}  

table { font-family: basix; }

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px #22222254;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #000000b6;
  border: solid 3px transparent;
  border-radius: 10px;
} 
  

p {padding: 20px;}
h1 {padding: 20px;}

#cabecalho {
  position: fixed; 
  width: 100%; height: 130px;
  background-color:#161616; 
  z-index:999; /* posicao fixa - z index na frente */
  overflow: hidden; /* barras de rolagem escondidas */
  }

#tabela {
  margin: auto;

}

#pula {
  margin-top: 130px; /* pula espaco entre do cabecalho para o comeco do corpo */
}

#grupo1 { 
  overflow: auto hidden;
  display: inline-block;
  position: relative;
}
#grupo1 figcaption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 30%;
} /* div da ilustração QUEM SOU EU */

#grupo2 { 
  width: 100%; overflow: hidden;
  background-color:#161616; 
  display: flex;
  flex-wrap: wrap; 
  padding-top: 50px;
  padding-bottom: 10px;
} /* div responsiva do campo PORTFOLIO */

.grupo3 {
  display: inline-block;
  width: 410; height: auto; 
  margin-top: 30 ; margin-left: auto; margin-right: auto;
  background-clip: content-box; /* define posicao da borda para fora da div */
  border: 10px solid transparent; /* borda para nao colidir divs */
  text-align: right;
  color: #FFFFFF;
  overflow: hidden; /* esconde rolagem */
  /* background-color: #ff8800; */
 } /* grupo de imagens do PORTFOLIO */

.grupo3 img {
  margin: auto;
  display: block;
  padding-top: 10px;
  width: 390;
  }

img { animation: fadeIn 50s;}